[submodule "MapleLib"]
	path = MapleLib
	url = https://github.com/lastbattle/MapleLib
	branch = main
[submodule "WzImg-MCP-Server"]
	path = WzImg-MCP-Server
	url = https://github.com/lastbattle/WzImg-MCP-Server
